body {

}
h1{
  font-family: Georgia;
  text-align: center;
}
h2{
  font-family: Georgia;
  text-align: center;
  color:#000099;
}
p.blocktext{
  font-family:courier;
  font-size: 18px;
  line-height: 1.0;
  text-align: center;
  padding: 5px;
  background-color: #00cc99;
  border-radius:15px;

  margin-left: auto;
  margin-right: auto;
  width: 20em

}
